.productListContainer {
   display: flex;
   flex-direction: column;
}

.products {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 26px;
   margin: 16px 35px 16px 20px;
   list-style: none;
}

.productContainer {
   max-width: 100%;
   height: 25rem;
}

.productLink {
   /* min-width: 100%; */
   
}