.productListContainer {
   display: flex;
   flex-direction: column;
}

.products {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 16px;
   margin: 16px;
   list-style: none;

}

.productContainer {
<<<<<<< HEAD
 /* max-width: 25%; */
=======
   max-width: 100%;
   height: 25rem;
}

.productLink {
   /* min-width: 100%; */
   
>>>>>>> e995e6098514d8ad8b62dea7cfaa452e6b03dbb2
}