.product {
	background-color: var(--color-celeste3);
	border: 2px solid var(--color-borde);
	border-radius: 10px;
	padding: 0px 0px 20px 0px;
	min-width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	color: var(--color-texto);
	box-shadow: 0px 0px 0.8px rgba(0, 0, 0, 0.082), 0px 0px 1.9px rgba(0, 0, 0, 0.117),
		0px 0px 3.6px rgba(0, 0, 0, 0.145), 0px 0px 6.5px rgba(0, 0, 0, 0.173),
		0px 0px 12.1px rgba(0, 0, 0, 0.208), 0px 0px 29px rgba(0, 0, 0, 0.29);
}
.delButton {
	background-color: rgb(236, 48, 48) !important;
}

.delButton:hover {
	background-color: rgb(187, 38, 38) !important;
}

.productLink {
	color: var(--color-texto);
	text-decoration: none;
	text-align: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.product img {
	width: 100%;
	/* border-radius: 10px; */
}

.title {
	font-weight: 700;
	text-align: start;
	margin-bottom: 10px;
}

.price {
	font-size: 32px;
	text-align: start;
	margin-bottom: 10px;
}

.stock {
	text-align: start;
	font-size: 20px;
	margin-bottom: 20px;
}

.stock span {
	font-weight: 700;
}

.lineSpan {
	margin-top: 5px;
	height: 1px;
	width: 80%;
	background-color: var(--color-borde);
}

.product:hover {
	border-color: var(--color-azul-oscuro);
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
	gap: 5%;
	width: 100%;
	margin-top: 5px;
}

.buttons button {
	font-size: 16px;
	padding: 5px 10px 5px 10px;
}

.btn {
	display: flex;
	/* flex-direction: column; */
	height: 30%;
	gap: 0.5rem;
	padding: 1rem 2.5rem;
	border: none;
	outline: none;
	border-radius: 0.4rem;
	cursor: pointer;
	text-transform: uppercase;
	background-color: var(--color-verde);
	color: rgb(234, 234, 234);
	font-weight: 600;
	transition: 0.6s ease all;
}

.btn:active {
	scale: 0.92;
	display: flex;
	flex-direction: column;
}

.btn:hover {
	transform: translateY(-10%);
	color: rgb(4, 4, 38);
}

.links {
	text-decoration: none;
	text-align: center;
	font-size: 100%;
	border: none;
	transition: all 0.6s ease;
	color: rgb(235, 225, 225);
}

.btn span {
	margin-left: 0rem;
}

.botonCarrito:hover {
	transform: translateY(-2px);
}

.info {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	margin-top: 10px;
}

.info h2 {
	align-self: flex-start;
}

.favIcon {
	font-size: 200%;
	position: relative;
	margin-left: 14rem;
	margin-right: 1rem;
	margin-top: 0.5rem;
	color: var(--color-verde3);
	cursor: pointer;
	@media (max-width: 1300px) {
		font-size: 150%;
		margin-left: 13rem;
	}
	@media (max-width: 1200px) {
		font-size: 150%;
		margin-left: 10rem;
	}
}
.favIcon:hover {
	color: var(--color-azul);
}

.botoncitos {
	padding: 5px 10px 5px 10px;
	border-radius: 4px;
	font-size: 16px;
}

.botoncitos:hover {
}

@media (max-width: 1000px) {
	.favIcon {
		font-size: 150%;
		margin-left: 0rem;
		color: var(--color-verde3);
		cursor: pointer;
		margin-top: 0.5rem;
	}
	.buttons {
		gap: 8%;
	}
	.btn {
		padding: 0;
		width: 80%;
	}

	.title {
		font-weight: 700;
		font-size: 100%;
		text-align: start;
		margin-bottom: 10px;
	}

	.price {
		font-size: 100%;
		text-align: start;
		margin-bottom: 10px;
	}

	.stock {
		text-align: start;
		font-size: 100%;
		margin-bottom: 20px;
	}
}

@media (max-width: 800px) {
	.favIcon {
		font-size: 150%; /* Ajusta el tamaño del icono para pantallas más pequeñas */
		margin-left: 0rem;
		color: var(--color-verde3);
		cursor: pointer;
		margin-top: 0.5rem; /* Ajusta el margen izquierdo para pantallas más pequeñas */
	}
	.botoncitos {
		margin-bottom: -80%;
		width: 100%;
		height: 150%;
		font-size: 20%;
	}
	.btn {
		font-size: 70%;
		padding: 0;
		width: 80%;
	}

	.title {
		font-weight: 700;
		font-size: 100%;
		text-align: start;
		margin-bottom: 10px;
	}

	.price {
		font-size: 100%;
		text-align: start;
		margin-bottom: 10px;
	}

	.stock {
		text-align: start;
		font-size: 100%;
		margin-bottom: 20px;
	}
}
