.user-list-table {
  width: 1635px;
  height: 600px;
}

.user-list-table th,
.user-list-table td {
  border: 1px solid #e0e0e0;
  padding: 10px;
  text-align: left;
}

.user-list-table th {
  background-color: #f0f0f0;
}

.user-list-table th:first-child,
.user-list-table td:first-child {
  width: 30%;
}

.user-list-table th:last-child,
.user-list-table td:last-child {
  width: 20%;
}

.user-list-table td {
  font-size: 14px;
}

.user-list-table tbody tr {
  background-color: #ffffff;
  color: #000000;
}