.container{height: 20%;
	border-top: solid black;
	width: 100%;
	background-color: rgb(84, 84, 84);}

.datos {
	
	height: 100%;
	color: aliceblue;
	
	
	justify-content: center;
	display: flex;
	flex-direction: column;
	gap: 5%;
}