footer {
	background-color: var(--color-azul-oscuro);
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 1rem;
}


.container {
	color: var(--color-body);
	text-align: start;

}

.container h3 {
	margin-bottom: 20px;
}

.container div {
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-size: 16px;
}


.margin {
	margin-top: 25px;
}


.logoContainer {
	background-color: var(--color-body);
	border-radius: 50%;
	padding: 10px;
}

.logoContainer img {
	width: 8rem;
}
