.nav {
	background-color: transparent;
}

.divPagination {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

.pageItem {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 2rem;
	height: 2rem;
	margin: 5px 5px 5px 5px;
	padding: 14px;
	border-radius: 50%;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	border: 2px solid var(--color-azul);
}

.pageItem:hover {
	background: rgba(255, 255, 255, 0.15);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

	border: 1px solid rgba(255, 255, 255, 0.35);
	cursor: pointer;
}

.current {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 2rem;
	height: 2rem;
	margin: 10px 10px 10px 10px;
	padding: 14px;
	background: var(--color-celeste1);
	border: 2px solid var(--color-celeste1);
   

	border-radius: 50%;
}

.num {
	font-size: 1.2rem;
	font-weight: 700;
	color: rgb(0, 0, 0);
	cursor: default;
}

@media (max-width: 800px) {
	.divPagination {
		display: flex;
		flex-direction: row;
		grid-template-columns: repeat(6, 1fr);
		margin-bottom: 0.5rem;
		max-width: 100;
		align-items: center;
	}

	.pageItem {
		width: 1.5rem;
		height: 1.5rem;
		margin: 0.6rem;
		padding: 0.5rem;
	}

	.current {
		width: 1.5rem;
		height: 1.5rem;
		margin: 0.6rem;
		padding: 0.5rem;
	}

	.num {
		font-size: 1rem;
	}
}
